<div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="Email subscription modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header">
                <h4 class="modal-title">Busca en nuestro artículos.</h4>
                <a class="modal-close" data-dismiss="modal" aria-hidden="true" href="#"><span class="hidden">Close</span></a>
            </header>
            <div class="modal-body">
                <form style="text-align:center">
                    <input id="search-field" />
                    <input type="submit" value="search">
                </form>
                <section id="results" style="text-align:center"></section>
            </div>
        </div>
    </div>
</div>